{% extends "main_page.html" %}

{% block title %}
{{article.title}}
{% endblock %}

{% block content %}

<h3>{{article.title}}</h3>
<hr>
<h5>{{article.user_name}}</h5>
<h5>{{article.date_send}}</h5>
<br>
{{article.text}}
<hr>

<form method="post" action="{% url 'articles:article_view' article.id %}">
    {% csrf_token %}
    <h5>Отметить статью</h5>
    {{form.is_show}}
    <h5>Добавить ответ</h5>
    {{form.text_answer}}
    <br>
    {% if article.date_answer %}
        <br>
        <h5>Дата ответа
        {{article.date_answer}}</h5>
    {% endif %}
    <hr>
    {{form.captcha}}
    <br>
    <input type="submit" value="Добавить">
    {% if reset %}
        <br>
        <b>Ошибка ввода капчи, вы робот!</b>
    {% endif %}
    <hr>
</form>

<form action = "">
    <input type="button" value="На главную" onclick = "go_to_url('{% url 'articles:list_articles_view' %}')">
    <input type="button" value="Редактировать" onclick = "go_to_url('{% url 'articles:article_modify' article.id %}')">
</form>


{% endblock %}