{% extends "main_page.html" %}

{% block title %}
Создание статьи
{% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <h3>{{form.title.label}}</h3>
    <div class="input-group-text"><h5>{{form.title}}</h5></div>
    <h3>{{form.user_name.label}}</h3>
    <div class="input-group-text"><h5>{{form.user_name}}</h5></div>
    <h3>{{form.text.label}}</h3>
    <div class="input-group-text">{{form.text}}</div>
    <hr>
    {{form.captcha}}
    <br>

    <input class="btn btn-primary"  type="submit" value="Сохранить сообщение">
    {% if reset %}
        <br>
        <b>Ошибка ввода капчи, вы робот!</b>
    {% endif %}

</form>
<hr>

<form action = "">
    <input class="btn btn-outline-primary""  type="button" value="На главную" onclick = "go_to_url('{% url 'articles:list_articles_view' %}')">
</form>
<hr>

{% endblock %}